:root{
    --pink:rgb(240, 14,164);
    --aqua:#006D5B;
}
html,
body{
    background-color:rgb(237, 229, 245);
    height:100%;
}
*{
    font-family:'Roboto',sans-serif;
    margin:0; padding:0;
    box-sizing:border-box;
    text-decoration:none;
    outline:none;
}
header{ 
    width:100%;
    overflow:auto;
    position:fixed;
    top:0; left:0; right:0;
    background:rgb(243, 82, 8);
    overflow:auto;
    padding:10px;
    display:inline-flex;
    align-items:center;
    justify-content: space-between;
}
header .social-links a{
	display:inline-block;
	height:20px;
    width:28px;
    font-size:20px;
	background-color:bisque;
	margin:0 10px 10px 0;
	text-align:center;
	line-height:20px;
	border-radius:40%;
	color:blue;
	transition:all 0.5s case;
}
header .social-links a:hover{
	color:#24262b;
	background-color:var(--pink);
}
.logo{
    margin-left:20%;
}
.logo img{
    border-radius: 50%;    
}
.menu-bar{
    position:absolute;
    top:20%;
    left:50%;
    transform: translate(-20%, -100%);
    height:60px;
    display:block;        
}
.menu-bar ul{
    list-style:none;    
}
.menu-bar ul li{
    position:relative;
    float:left;
    background:darkviolet; 
    line-height:20px;
    padding: 10px 14px;
    margin-right:10px;        
}
.menu-bar ul li a{
    text-decoration:none;
    color:whitesmoke;
    text-transform: uppercase;        
}
.active,.menu-bar ul li a:hover{
    background-color:brown;
    border-radius: 10px;
}
.active,.menu-bar ul li:hover{
    background-color:chartreuse;
    border-radius: 10px;
}
.menu-bar ul li:hover{
    cursor:pointer;
    background:var(--pink);
}
.sub-menu-1{
    display:none;
}
.menu-bar ul li:hover .sub-menu-1{
    display:block;
    position:absolute;
    background:blueviolet;
    margin-top:10px;
    padding-bottom: 5px;
    margin-left:-10px;
}
.menu-bar ul li:hover .sub-menu-1 ul{
                 display:block;
                 margin:10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li{
                width:150px;
                padding:10px;
                border-bottom:1px dotted #fff;
                background:transparent;
                border-radius:0;
                text-align:left;
                color:wheat;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child{
                         border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover{
                    color:aqua;
}
.sub-menu-1 ul li a:hover{
	padding-left:8px;
}
.sub-menu-2{
    display:none;
}
.menu-bar ul li:hover .sub-menu-2{
  display:block;
  position:absolute;
  background:blueviolet;
  margin-top:10px;
  margin-left:-10px;
}
.menu-bar ul li:hover .sub-menu-2 ul{
     display:block;
     margin:10px;
}
.menu-bar ul li:hover .sub-menu-2 ul li{
    width:150px;
    padding:5px;
    border-bottom:1px dotted #fff;
    background:transparent;
    border-radius:0;
    text-align:left;
}
.menu-bar ul li:hover .sub-menu-2 ul li:last-child{
             border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-2 ul li a:hover{
        color:aqua;
}
.container{	
	margin:auto;
    border:1px solid;
    height:fit-content;
    width:500px;
}
.row{
	display:flex;
    flex-wrap: wrap;
}
ul{
	list-style:none;
}
.sub-menu-2-col{
	width: 166px;
	padding:0;
}
.menu-bar ul li .sub-menu-2-col h4{
	font-size:15px;
	color:#ffffff;
	text-transform:capitalize;
	margin-bottom:10px;
	position:relative;
	font-weight:500px;
        
}
.sub-menu-2-col h4:before{
	content: "";
	position:absolute;
    box-sizing:border-box;
	background-color:purple;
    height:2px;
	width:50px;
}
.sub-menu-2-col ul li a{
	font-size:14px;
	text-transform:capitalize;
	color:wheat;
	text-decoration:none;
	font-weight:200px;
	display:block;
	transition: all 0.3s case;
}
.sub-menu-2-col ul li a:hover{
	padding-left:8px;
}
.myDiv{
    border: 5px outset red; 
    background: aqua;
    background-image:url(sound.jpg);  
    background-position: center;
    background-size: cover;
}
.myDiv .photos{
    display:grid;
    grid-gap:5px;
    padding:5px;
}
.myDiv img{
    border-radius:10px;
}
h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:3em;
    color:yellow;
    top:50%;
    left:5%;
    position:absolute;
    transform: translate(-10% -40%);
    font-family: cursive;
    font-style:italic;
    animation:animate 2s linear infinite;
    }
    @keyframes animate{
        0%{
            opacity:0;
        }
        50%{
            opacity:0.9;
        }
        100%{
            opacity:0;
        }
    }

    /*body section 2*/
    .column{
        float:left;
        width:50%;
        padding:20px;
    }
    .row:after{
        content:"";
        display:table;
        clear:both;
    }   

    /*This is a style for team*/     
    .wrap{
        margin-top:0;
        background-color:skyblue;
        font-family:cursive;
        box-sizing: border-box;
        }
        .wrap h5{
        font-family:'Allura', cursive;
        font-size:52px;
        margin-bottom:15px;
        color:blueviolet;
        text-align:center;
        }
        .team{
        display:flex;
        text-align:center;
        width:auto;
        justify-content:center;
        flex-wrap:wrap;
        }
        .team .team-member{
        background:burlywood;
        margin:5px; 
        margin-bottom:50px;
        width:400px;
        padding:20px;
        line-height:20px; 
        color:darkgreen;
        font-size:20px;
        position:relative;
        border-radius:10px;
        }
        .team .team-member h3{
        color:var(--aqua);
        font-size:26px;
        margin-top:30px; 
        }
    p{
        padding:5px;
        color:forestgreen;
        text-align:center;
        font-family:cursive;
        font-size: 20px;
        font-weight:bolder;
    }
    /*This is a style for our clients responses*/
.content{
    width:100%;
    background:aqua;
    margin:auto;
    border:1px solid;
    height:fit-content;  
    align-items: center;
    box-sizing: border-box;
}
.content h4{
    font-family:'Allura', cursive;
    font-size:50px;
    margin-bottom:15px;
    color:blueviolet;
    text-align:center;
}
.content-col{
    width:33%;
    padding:10px; 
    padding-right: 10px; 
    padding-left:10px;  
}
.content-col ul li .photos{
    display:grid;
    grid-gap:2px;
    width:100%;
    text-align: center;
}
.content-col ul li img{
    border-radius:50%;
    text-align: center;
    padding:15px;
    position:relative;    
}
.content-col h6{
        color:black;
        text-align:center;
        font-family:cursive;
        font-size: 18px;     
}

    /*This style for the last part of body*/
.information{
    box-sizing:border-box;
    background-color:darkcyan;
    font-size:15px;
    color:white;
    line-height:25px;
    height:100px;
    text-align:center;   
    position:relative;
    margin:5px;   
    font-style: italic;
    font-family: cursive;
    font-weight: bolder;
}
.information-col{
    width:50%;
    margin-top:20px;
}
  /*Footer*/
.footer{
    box-sizing: border-box;
    background-color:darkgoldenrod;
    padding:40px 0;
    width:100%;
    bottom:0;
    height:350px;
    position:relative;
    line-height: 15px;
    margin-top:120px;
}
.footer .footer-content{
    max-width:1270px;        
    margin:auto;    
}
.footer .footer-links{
	padding:0 100px;
}
.footer .footer-links h4{
	color:#ffffff;
	text-transform:capitalize;
	margin-bottom:20px;
	position:relative;
	font-weight:bolder;
    font-size: 25px;
}
.footer-links ul li:not(:last-child){
	margin-bottom:6px;
}
.footer .footer-links ul li a{
	font-size:25px;
	text-decoration:none;
	font-weight:200px;
	color:black;
	display:block;
	transition: all 0.3s case;
}
.footer .footer-links ul li a:hover{
	color:beige;
	padding-left:8px;
}
.footer .social-media a{
    float:right;
	display:inline-block;
	height:20px;
    width:28px;
    font-size:20px;
	background-color:rgb(255,255,255,0.2);
	margin:0 20px 20px 0;
	line-height:20px;
	color:blue;
	transition:all 0.5s case;
}
.footer .social-media a:hover{
	color:var(--pink);
	background-color:lightblue;
}
.footer .footer-bottom {
 text-align:center;
 background:darkslategrey;
 color:white;
 height:40px;
 width:100%;
 position: absolute;
 bottom:0;
 left:0;
 padding-top:20px; 
}
